{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'accounts:home' as account_home_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:register' as register_url %}
{% url 'carts:home' as cart_url %}

<div class="navbar-fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 ">
    <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% if brand_name %}
        {{brand_name}}
      {% else %}
        Austin eCommerce
      {% endif %}

      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == home_url %}
          active
        {% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if request.path == contact_url %}
          active
        {% endif %}">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li class="nav-item  {% if request.path == product_list_url %}
          active
        {% endif %}" >
          <a class="nav-link" href="{% url 'products:list' %}">Products</a>
        </li>

        {% if user.is_authenticated %}

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu bg-dark mb-3" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'accounts:home' %}"><font color="#A6ACAF ">Home</font></a>
          <a class="dropdown-item" href="{% url 'products:library' %}"><font color="#A6ACAF ">Library</font></a>

          <a class="dropdown-item" href="{% url 'orders:list' %}"><font color="#A6ACAF ">Orders</font></a>
          <a class="dropdown-item" href="{% url 'marketing:update' %}"><font color="#A6ACAF ">Configuration</font></a>
          <a class="dropdown-item" href="{% url 'products:user_product_history_viewd' %}"><font color="#A6ACAF ">History</font></a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}"><font color="#A6ACAF ">Logout</font></a>
        </div>
      </li>

          {% else %}
        <li class="nav-item  {% if request.path == login_url %} active
      {% endif %} ">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="nav-item  {% if request.path == register_url %} active
      {% endif %} ">
          <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
        </li>
        {% endif %}

        {% if user.is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %}


        <li class="nav-item">
          <a class="nav-link" href="{% url 'billing:payment_method' %}">Payment</a>
        </li>
        <li class="nav-item  {% if request.path == cart_url %}
          active
        {% endif %}" >
          <a class="nav-link" href="{% url 'carts:home' %}"><span class='navbar-cart-count'>{{request.session.cart_items}}
          </span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </li>

      </ul>
      {% include "search/snippets/search_form.html" %}

    </div>
  </nav>

  </div>
</div>
