

<div class="card" style="width: 18rem;">
  {% if instance.image %}
  <a href="{% url 'products:detail' slug=instance.slug %}" >
    <img src="{{instance.image.url}}" class="card-img-top" alt="No Image Yet">
  </a>

  {% endif %}

<a href="{% url 'products:detail' slug=instance.slug %}"></a>
  <div class="card-body">
    <h4 class="card-title">{{ instance }}</h4>


    <p class="card-text">{{instance.description|truncatewords:10}}</p>
    <p class="price">${{instance.price}}</p>
    <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-primary">View</a>
    <h1>
    {% include "products/snippets/update_cart.html" with product=instance cart=cart %}
  </div>
</div>
