{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class='col-12 col-md-6 mx-auto'>
{% if title %}<h1 class='my-3'>{{ title }}</h1>{% endif %}
<form method='POST' action='{% if action_url %}{{ action_url }}{% endif %}'> {% csrf_token %}
    {% if next_url %}
    <input type='hidden' name='next' value='{{ next_url }}' />
    {% endif %}
    {% bootstrap_form form %} <br>
  <label for='email'>Email     <span class='help-text'>(Cannot be changed)</span></label>
  <input type='text' id='email' class='form-control disabled' value='{{ request.user.email }}' disabled="disabled" />
  <br> <br/>
  <button type='submit' class='btn btn-primary btn-sm'>Save</button>
  <a href='{% url "password_change" %}'>Change Password</a>
</form>
</div>
{% endblock %}
