<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#"/>
    <title>Austin eCommerce</title>
    {% include "base/css.html" %}
    {% block base_head %}{% endblock base_head %}
  </head>
  <body>
    <div class="navbar-fixed-top">
          {% include "base/navbar.html" with brand_name='eCommerce' %}
    </div>

    <div class="container">

      {% block content %}

      {% endblock content %}
      {% if messages %}
      <ul class="messages my-3">
          {% for message in messages %}
          <div class="alert alert-success messages">
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }} <br>
            </span>
          </div>

          {% endfor %}
      </ul>
      {% endif %}
    </div>


    {% include "base/js.html" %}




  </body>
</html>
