{% extends "base.html" %}

{% block content %}
<div class='row  mb-3'>
           <div class='col-12 col-md-6 '>
             <h2>Prodcuts You Viewd</h2>

           </div>
           <div class='col-12'>
               <hr>
           </div>

</div>

  <div class='row'>
    {% for obj in object_list %}
        <div class='col-12 col-md-6 col-lg-4'>
        {% include 'products/snippets/card.html' with instance=obj %}

        </div>
    {% endfor %}
</div>
{% endblock %}
